.cards {
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
}
